	</div>
      <footer class="footer">
        <p>&copy; FCC Voting Polls, Inc.</p>
      </footer>

    </div> 
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="/public/js/main.js"></script>
  </body>
</html>