<%- include header %>

<div class="form">
<form method="post" action="/newpoll">
	<div class="form-group">
	  <label>Title</label>
	  <input type="text" class="form-control" placeholder="Title" name="username">
	</div>
	<div class="form-group">
	  <label>Options</label></br>
	  <input type="text" class="form-control" placeholder="Option 1" name="option1">
	</div>
	<div class="addOptionBelow">
	<!-- add new option from jQuerry -->
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
	<div class="btn btn-default addOption">+ more options</div>
</form>
</div>

<%- include footer %>